.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  row-gap: 10px;
  column-gap: 15px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px #113 solid;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 440px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
