@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* General */

button:hover {
  background-color: #113;
  color: beige;
}

button {
  cursor: pointer;
  width: 6rem;
  padding: 0.5rem 0;
  border-radius: 3rem;
  border: 2px solid #113;
  background-color: beige;
  text-align: center;
  transition: background-color 0.25s;
  color: #113;
  font-weight: 700;
  letter-spacing: 2px;
}

input,
select {
  width: 100%;
  padding: 0.7rem;
  border: 2px solid #113;
  border-radius: 6px;
  margin: 0 auto;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #113;
  text-align: center;
  background-color: beige;
  font-family: "Inter", sans-serif;
}

option {
  color: black;
}

.my-container {
  margin: 50px auto;
  width: 90%;
}
